---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/organisms/Hero/index.vue'
import About from '../components/organisms/About/index.vue'
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<About />
	</main>
</Layout>